{% extends "emails/base_email.html" %}
{% block content%}
    <p> Hi {{user.profile.full_name}},</p>
    <p> your payment has been processed successfully</p>
    <div class ="amount"></div>ZAR {{amount}}</div>
    <div class="detail-row">
        <span class="detail-label">To</span>
        <span class="detail-value">{{merchant}}</span>
    </div>
    <div class="detail-row">
        <span class="detail-label"> Date</span>
        <span class="detail-value">{{timestamp}}</span>
    </div>
    <div class="detail-row">
        <span class="detail- label">References</span>
        <span class="detail-value">{{transaction_id}}</span>
    </div>
    <div class="success-box">
        <p> Your new balance is<strong> ZAR{{balance}}</strong></p>
    </div>
{% endblock %}
    